<%- include('partials/header'); %>
    <h1>about</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dignissimos praesentium distinctio ab mollitia in eum illo, eaque quod, recusandae delectus unde inventore necessitatibus magnam sed dolorum ea fugit animi!</p>
<%- include('partials/header'); %>